/* font-family: 'Merriweather', serif; */


#home   {
    font-family: 'Merriweather', serif;
    color: #FFAF00;
}

h2  {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #FFAF00;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 4.3rem;
    font-weight: 700;
}

#about  {
    text-align: center;
    width: 70%;
    margin-left: 250px;
}
=======
#logo   {
    height: 100px;
    width: auto;
}

li  {
    list-style: none;
    text-align: center;
}

h2  {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #FFAF00;
}

hr  {
    width: 70%;
    margin-left: 250px;
}

#about  {
    text-align: left;
    width: 70%;
    margin-left: 250px;
    margin-bottom: 40px;
}

#chef   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

img {
    width: 500px;
    height: auto;
    margin-bottom: 40px;
}

#chef-bio   {
    width: 500px;
}

.chef-bio-2   {
    margin-top: 10px;
}

#menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}

.course-number  {
    text-align: center;
}

.course-item {
    color: #adb5bd;
}

#sample_menu    {
    margin-bottom: 20px;
}

h3  {
    color: #6c757d;
}

#hours,
#reservation  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#reservation    {
    margin-bottom: 60px;
}

a   {
    text-decoration: none;
}

.rez-times {
    margin-top: 80px;
    margin-left: 40px;
    color: #6c757d;
    font-size: 1.0rem;
}

.hours  {
    margin-top: -15px;
    text-align: center;
}

.address    {
    margin-top: -15px;
}

#socials    {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    margin-right: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #FFAF00;
}

.fa:hover {
    opacity: 0.7;
    color:#adb5bd;
}

