/* font-family: 'Merriweather', serif; */


#home   {
    font-family: 'Merriweather', serif;
    color: #FFAF00;
}

h2  {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #FFAF00;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 4.3rem;
    font-weight: 700;
}

#about  {
    text-align: center;
    width: 70%;
    margin-left: 250px;
}
=======
#logo   {
    height: 100px;
    width: auto;
}

li  {
    list-style: none;
    text-align: center;
}

h2  {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #FFAF00;
}

hr  {
    width: 70%;
    margin-left: 250px;
}

#about  {
    text-align: left;
    width: 70%;
    margin-left: 250px;
    margin-bottom: 40px;
}

#chef   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

img {
    width: 500px;
    height: auto;
    margin-bottom: 40px;
}

#chef-bio   {
    width: 500px;
}

.chef-bio-2   {
    margin-top: 10px;
}

#menu-items {
    text-align: center;
    margin-bottom: 60px;
}

.course-item {
    color: #adb5bd;
}